# ------------------------------------------------------------------
# База данных (FlockerPlay)
# ------------------------------------------------------------------
DATABASE_URL="postgresql://flocker:flocker_secret@localhost:5432/flockerplay?schema=public"

# ------------------------------------------------------------------
# NextAuth
# ------------------------------------------------------------------
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-openssl-rand-base64-32"

# ------------------------------------------------------------------
# Публичный адрес приложения (для Socket.IO клиента)
# ------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"

# ------------------------------------------------------------------
# Данные супер-администратора для prisma seed
# ------------------------------------------------------------------
ADMIN_NAME="Flocker"
ADMIN_EMAIL="Flocker@gmail.com"
ADMIN_PASSWORD="FlockerPasword"
